body {
    background-image: linear-gradient(rgb(253, 249, 4), rgb(255, 121, 31));
 
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
   
    
    color:white;
    text-shadow: 0px 0px 7px black;
}

.container {
    background-image: url("https://wallpaperaccess.com/full/32048.jpg");
    background-size: cover;
    max-width: 80%;
    margin: auto;
    border: 3px solid rgb(252, 163, 48);
    border-radius: 10px;
    height: 90vh;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: 1px solid rgb(255, 227, 102);
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgba(8, 1, 22, 0.788);
    font-weight: bolder;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: #ffd102;
}

#save-btn {
    background: #f86d1c;
}

#save-el {
    font-weight: bold;
}

